/* ==========================================================================
Variables - Default Colors
========================================================================== */

$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);
$color-grey: rgba(112, 112, 112, 1);

$color-primary: black;
$color-secondary: #9ef912;

$color-light-grey: lightgrey;

