
$breakpoint-large: 830px; 
$breakpoint-medium: 550px;
$breakpoint-small: 380px;

@mixin media-large {
    @media(max-width: $breakpoint-large){
        @content;
    }
}

@mixin media-medium {
    @media(max-width: $breakpoint-medium){
        @content;
    }
}

@mixin media-small {
    @media(max-width: $breakpoint-small){
        @content;
    }
}