.c-input-button{
    background-color: $color-secondary;
    border: none;
    border-radius: 2rem;
    color: $color-primary;
    cursor: pointer;
    font-family: circular;
    font-size: 1.2rem;
    padding: 0.7rem 0.5rem;
    transition: .3s ease-in-out;
    width: 10rem;

    &:hover{
        background-color: $color-primary;
        color: $color-white;
    }
}