.c-login-title {
    color: $color-secondary;
    font-size: 9rem;
    font-weight: 300;
    letter-spacing: -0.3rem;

    @include media-medium {
        font-size: 6rem;
    }
  }

  .c-login-dotfly-logo {
    animation: 1s appear;
    margin: auto;
    width: 30rem;

    @include media-medium {
        width: 19rem;
    }
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }