.c-timer {
  align-items: center;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  &__text {
    font-size: 4rem;

    @include media-large {
      font-size: 2.8rem;
    }

    @include media-medium {
      font-size: 2rem;
    }
  }
}
