.c-background-image {
  background-image: url("../img/content/background_image.png");
}

.c-welcome {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  &__heading {
    font-size: 5rem;
    width: 80%;

    @include media-medium{
      font-size: 3.2rem;
    }
  }

  &__text {
    font-size: 1.4rem;
    line-height: 2.3rem;
    width: 65%;

    @include media-medium{
      font-size: 1.1rem;
      line-height: 2rem;
      width: 80%;
    }
  }
}

.c-arrow-down {
  margin: 4.5rem auto 0rem auto;
  width: 3rem;
  transition: transform .2s ease-in-out;

  &:hover{
    transform: scale(1.2)
  }
}
