<template>

  <div class="c-background-image">
    <div class="c-welcome">
      <div class="c-main">
        <div>
          {{ updateCurrentID() }}
          {{this.$store.commit("employees/setActiveEmployee", employee)}}
          <h3 class="c-welcome__heading">
            Willkommen bei dotfly {{ employee.first_name }}!
          </h3>
          <div class="c-welcome__text">
                 <p >
            Wir machen Marken und Produkte digital erfolgreich. Mit Strategie,
            Design und Technologie. Lösungsoffen, nutzerzentriert und radikal
            erfolgsversessen. So fordern wir Unternehmen heraus und begeistern
            Zielgruppen.
          </p>
          <div class="c-arrow-down">
            <a href="#timer">
              <img src="../../assets/img/icons/arrow-circle-down-solid.svg" alt="" />
            </a>
          </div>
          </div> 
        </div>
      </div>
      
    </div>
 
    <div class="c-timer" id="timer">
        <div v-if="startDate >=  1">
          <p class="c-timer__text">In {{ startDate + 1  }} Tagen geht's los!</p>
        </div>
        <div v-else>
          <p class="c-timer__text">Morgen geht's los!</p>
        </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
import axios from 'axios';
import moment from 'moment'  

export default {

  data() {
    return {
      today: moment(),
    };
  },
  async asyncData () {
    const {data} = await axios.get(`http://dotfly-teaser-backend.herokuapp.com/api/employees`)
    return {employeesData:data}
   
  },
  computed: mapGetters({
    employee: "employees/getEmployee",
    startDate: "employees/getStartDate"
  }),
  methods: {
    updateCurrentID() {
      this.$store.commit("employees/setEmployees", [this.employeesData]);
      this.$store.commit("employees/setID", this.$route.params.id);
    }
  }
};
</script>
