/* ==========================================================================
Settings : Variables and other settings
========================================================================== */

@import "./settings/_paths.scss";
@import "./settings/_colors.scss";
@import "./settings/_media.scss";

/* ==========================================================================
Generic : Font-face, reset, etc.
========================================================================== */

@import "./generic/_webfont.scss";
@import "./generic/_reset.scss";

/* ==========================================================================
Elements : Bare element defaults like headings and links
========================================================================== */

@import "./elements/_form.scss";
@import "./elements/_headlines.scss";

/* ====================================================================================
// Components : Individual components - layout
 ==================================================================================== */

@import "./components/layout/_content.scss";
@import "./components/layout/_welcome.scss";
@import "./components/layout/_login.scss";
@import "./components/layout/_timer.scss";
@import "./components/layout/_buttons.scss";

@font-face {
  font-family: circular;
  src: url("../fonts/webfont/CircularStd-Medium.woff");
}

body {
  background-color: $color-white;
  font-family: circular;
}


