<template>
  <svg
    class="dotfly-logo"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 311.7 103.71"
  >
    <title>Element 2</title>
    <g id="Ebene_2" data-name="Ebene 2">
      <g id="Ebene_1-2" data-name="Ebene 1">
        <path
          d="M54.66,71.68a87.44,87.44,0,0,0,.56,10H42.78a55.33,55.33,0,0,1-.56-7.06c-2.57,4.59-8.28,8.4-16,8.4C10.53,83,0,70.67,0,54.21,0,38.53,10.64,25.65,26,25.65c9.52,0,14.34,4.37,16,7.84V.56H54.66Zm-27-.11c8.52,0,14.45-7.06,14.45-17.47S36.29,37.18,27.78,37.18,13,43.79,13,54.21,18.82,71.57,27.66,71.57Z"
        />
        <path
          d="M121.32,54.32c0,16.8-12,29-28.34,29s-28.22-12.21-28.22-29,12-28.9,28.22-28.9S121.32,37.63,121.32,54.32Zm-13.11,0C108.21,43,101,37.18,93,37.18S77.75,43,77.75,54.32,85,71.68,93,71.68,108.21,65.74,108.21,54.32Z"
        />
        <path
          d="M149,27.1H160.3V38.64H149V64c0,4.82,2.13,6.83,6.94,6.83a28.25,28.25,0,0,0,4.48-.44V81.09a20.52,20.52,0,0,1-7.95,1.23c-10.08,0-16.35-6-16.35-16.24V38.64H126V27.1h11.16l0-8.51V10.42H149Z"
        />
        <path
          d="M190.53,19.94V27.1h12.66V38.42H190.53V81.65h-13.1V38.42h-9.52V27.1h9.52V19.6c0-12.21,7.84-19.6,19-19.6a18.4,18.4,0,0,1,6.83,1.12V12.21a16.39,16.39,0,0,0-4.7-.56C195.12,11.65,190.53,13.22,190.53,19.94Z"
        />
        <path d="M214.27,81.65V.56h13V81.65Z" />
        <path
          d="M245.75,103.71l13.1-28.56L235.56,27.1h14.67l15.68,34.5,14.67-34.5h13.78l-34.72,76.61Z"
        />
        <path
          d="M302.52,64.06a9.23,9.23,0,0,1,9.18,9.19,9.13,9.13,0,1,1-9.18-9.19Z"
        />
      </g>
    </g>
  </svg>
</template>

