/* ==========================================================================
 Mixin :: WebFonts (@include font-face('roboto', $path-webfonts, 'roboto-light-webfont', 300, 'Roboto Light');)
========================================================================== */

@mixin font-face(
  $font-name,
  $fonts-path,
  $file-name,
  $weight: normal,
  $font-local: "",
  $style: normal
) {
  @font-face {
    font-display: auto;
    font-family: $font-name;
    font-style: $style;
    font-weight: $weight;
    src: local($font-local),
      url($path-webfonts+$file-name+".woff2") format("woff2"),
      url($path-webfonts+$file-name+".woff") format("woff");
  }
}

/* ==========================================================================
Webfonts :: Circular
========================================================================== */

@include font-face(
  "circular",
  $path-webfonts,
  "CircularStd-Book",
  400,
  "Circular Std Book"
);
@include font-face(
  "circular",
  $path-webfonts,
  "CircularStd-Medium",
  500,
  "Circular Std"
);

@include font-face(
  "circular",
  $path-webfonts,
  "lineto-circular-bold",
  500,
  "Circular Std"
);
