
input {
  border: 0rem;
  color: $color-primary;
  font-family: circular;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  padding: 1rem 1rem 0.5rem 1rem;
}

.input-underline {
  border-bottom: 2px solid $color-light-grey;
}

.e-input-wrapper {
  animation: comeIn 1s;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 2rem 0rem 2rem 0rem;

  &__name {
    margin-bottom: 3rem;
  }

  &__date {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0rem 0rem 5rem 0rem;

    input{
      width: 12%;
      margin: 1rem;


      @include media-large{
        width: 17%;
      }

      @include media-medium {
        width: 22%;
        font-size: 1rem;
      }

      @include media-small {
        width: 25%;
        font-size: .9rem;
      }
    }
  }
}

//Animation

@keyframes comeIn {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}