/* = Size */
$headline--h1: 3.75rem;
$headline--h1-small: 3.188rem;
$headline--h2: 2.375rem;
$headline--h2-small: 1.75rem;
$headline--h3: 2rem;
$headline--h3-small: 1.5rem;
$headline--h4: 2.25rem;
$headline--h4-small: 1.25rem;

/* = Line-height */
$headline-lh--default: 1.3;

/* = Weight */
$headline-fw--default: 400;
$headline-fw--medium: 500;
$headline-fw--bold: 700;

/* = Color */
$headline-default: $color-black;
$headline-hero: $color-primary;

/* = Margin */
$headline-margin-default: 2rem;

/* ====================================================================================
Kind :: Headline
==================================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headline-default;
  font-weight: $headline-fw--default;
  line-height: $headline-lh--default;
  margin: 0;
}

h1 {
  color: $headline-hero;
  font-size: $headline--h1-small;
  font-weight: $headline-fw--bold;
  hyphens: auto;
  margin-bottom: $headline-margin-default;

  /*
  @include media(">small") {
    font-size: $headline--h1;
  }
  */
}

h2 {
  font-size: $headline--h2-small;
  font-weight: $headline-fw--medium;
  margin-bottom: $headline-margin-default;
  /*
  @include media(">small") {
    font-size: $headline--h2;
  }
  */
}

h3 {
  font-size: $headline--h3-small;
  margin-bottom: $headline-margin-default;
  /*
  @include media(">small") {
    font-size: $headline--h3;
  }
  */
}

h4,
h5,
h6 {
  font-size: $headline--h4-small;
  /*
  @include media(">small") {
    font-size: $headline--h4;
  }
  */
}
