<template>
  <div class="container">
    <div>
      <div v-if="loginScreen" class="title-container">
        <logo class="c-login-dotfly-logo" />
        <h1 class="c-login-title">teaser</h1>
      </div>
      <div v-if="loginScreen">
        <form @submit.prevent="toggleLogin">
          <div class="e-input-wrapper">
            <input
              v-model="inputPassword"
              class="input-underline"
              type="password"
              placeholder="Passwort eingeben"
            />
          </div>
        </form>
      </div>
      <div v-else class="e-input">
        <form @submit.prevent="">
          <div class="e-input-wrapper">
              <h3>Name des neuen Mitarbeiters</h3>
              <input v-model="inputFirstName" class="e-input-wrapper__name input-underline" type="text" placeholder="Vorname" />
              <input v-model="inputLastName" class="e-input-wrapper__name input-underline" type="text" placeholder="Nachname" />
          </div>
          <div class="e-input-wrapper">
              <h3>Erster Arbeitstag</h3>
              <div class="e-input-wrapper__date">
                <input v-model="inputStartDay" class="input-underline" type="text" placeholder="Tag" maxlength="2">
                <input v-model="inputStartMonth" class="input-underline" type="text" placeholder="Monat" maxlength="2">
                <input v-model="inputStartYear" class="input-underline" type="text" placeholder="Jahr" maxlength="4">
              </div>
              <button class="c-input-button" @click="validateFormInput">erstellen</button>
          </div>
        </form>
      </div>
      <p v-show="true">{{ message }}</p>
    </div>
  </div>
</template>

<script>
import Logo from "~/components/Logo.vue";
import { mapMutations, mapGetters } from "vuex";
import axios from 'axios';

const uniqueRandom = require('unique-random');

export default {
  components: {
    Logo
  },
   async asyncData () {
    const {data} = await axios.get('http://dotfly-teaser-backend.herokuapp.com/api/employees')
    return {employees:data}
  },
  data() {
    return {
      inputFirstName: "",
      inputLastName: "",
      inputStartDay: "",
      inputStartMonth: "",
      inputStartYear: "",
      inputPassword: "",
      message: "",
      password: "1234",
      loginScreen: true,
      apiPath: 'http://dotfly-teaser-backend.herokuapp.com/api/',
      random: uniqueRandom(10,10000)
    }
  },
  
  methods: {
    route() {
      this.addNewEmployee(this.inputFirstName, this.inputLastName)
      this.$store.commit("employees/setEmployees", [this.employees]);

      setTimeout(()=>{
        this.$router.push(`you/${this.inputFirstName}-${this.inputLastName}`);
      },1000)
    },
    toggleLogin() {
      if (this.inputPassword === this.password) {
        this.loginScreen = false;
        this.inputPassword = "";
        this.message = ""
      } else {
        this.message = "Falsches Passwort"
      }
    },
    addNewEmployee(firstName, lastName){
      axios.post(this.apiPath + 'employee', {
      employee_id: this.random(),
      first_name: firstName,
      last_name: lastName,
      start_date: `${this.inputStartYear}-${this.inputStartMonth}-${this.inputStartDay}`
    })
    },
    validateFormInput(){
      const regex = /^[0-9]+$/;
      if (this.inputFirstName && this.inputLastName){
        if (this.inputStartDay.match(regex) && this.inputStartMonth.match(regex) && this.inputStartYear.match(regex)) {
          this.message = "Seite wird erstellt..."
          this.route()
        } else {
          this.message = "Datum is fehlerhaft oder unvollständig"
        }
      } else {
        this.message = "Der Name ist unvollständig"
      }
    }
  }
};
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
